@media screen and (max-width: 1200px){
    .wolf .wolf-content p{
        width: 500px;
    }
    .monkey .monkey-title{
        text-align: right;
    }
}

@media screen and (max-width: 992px){
    header#header{
        height: 700px;
    }
    .wolf .wolf-content p{
        width: 350px;
    }
}

@media screen and (max-width: 768px){
    header#header{
        height: 600px;
    }
    .moon{
        width: 100px;
    }
    .wolf .wolf-content p{
        width: 400px;
        margin: auto;
        background-color: rgba(22, 2, 31, 0.6);
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .monkey .monkey-title{
        text-align: center;
        color: #fff;
    }
    .monkey .monkey-content p{
        width: 500px;
        margin: auto;
    }
}

@media screen and (max-width: 400px){
    footer .overlay .footer-title{
        width: 100%;
    }
    footer .overlay .container{
        width: 100%;
    }
    .wolf .wolf-content p{
        width: 90%;
    }
    .monkey .monkey-content p{
        width: 90%;
    }
    footer .overlay .description{
        width: 100%;
    }
    footer .overlay form{
        width: 100%;
    }
    footer .overlay form input{
        padding: 2px;
    }
    footer .overlay form button{
        padding: 5px;
    }
}