@font-face {
  font-family: 'vazir';
  src: url('../fonts/vazir.eot') format('eot'),
    url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff2'),
    url('../fonts/vazir.woff2') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'vazir';
  direction: rtl;
}

.container {
  width: 700px;
  /* margin: auto; */
  padding: 0 15px;
}

.containerf {
  width: 900px;
  margin: auto;
  padding: 0 15px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

header#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header nav {
  width: 100%;
  position: absolute;
  top: 2%;
  z-index: 1;
}

header nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

header nav ul li a:hover {
  color: #c00;
}

.for {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1px;
}

.sky {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.moon {
  position: absolute;
  top: 80%;
  left: 47%;
  width: 150px;
}

/* wolf */
.wolf {
  height: 900px;
  background-image: url('../images/www.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}



.wolf .wolf-title {
  width: 100%;
  text-align: center;

}

.wolf .wolf-title h1 {
  font-size: 30px;
  color: #fff;
}

.wolf .wolf-title p {
  color: #fff;
  margin-top: 10px;
  font-size: 17px;
}

.wolf .wolf-content {
  color: #000;
  display: flex;
}

.wolf .wolf-content p {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  margin-right: 100px;
}

/* monkey */

.monkey {
  background-image: url('../images/monkeytwo.svg');
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.monkey .monkey-title {
  width: 100%;
  text-align: center;
  display: flex;
}

.monkey .monkey-title h1 {
  font-size: 35px;
}

.monkey .monkey-title p {
  font-size: 19px;
}

.monkey .monkey-content {
  color: #fff;
  text-align: center;
  display: flex;
  margin-right: 300px;
}


/* footer */

footer {
  background-image: url('../images/lionbg.svg');
  background-size: cover;
  height: 900px;
  position: relative;
  display: flex;
}

footer .overlay {
  background-color: rgba(22, 2, 31, 0.918);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 80px 0;
  display: flex;
}

footer .overlay .footer-title {
  text-align: center;
  color: #fff;
}

footer .overlay .footer-title h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

footer .overlay .footer-title p {
  font-size: 18px;
}

footer .overlay form {
  width: 420px;
  margin: 60px auto;
  text-align: center;
}

footer .overlay form input {
  width: 100%;
  margin: 7px 0;
  padding: 10px;
  font-family: vazir;
}

footer .overlay form button {
  padding: 10px;
  width: 200px;
  background-color: #fff;
  border: 2px solid rgb(55, 21, 71);
  font-family: vazir;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  margin-top: 7px;
}

footer .overlay form button:hover {
  background-color: rgb(74, 11, 126);
  cursor: pointer;
  border: 2px solid #fff;
}

footer .overlay .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

footer .overlay .social ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
  list-style: none;
}

footer .overlay .social ul li {
  color: #fff;
}

footer .overlay .social ul li a {
  color: #fff;
}

footer .overlay .social ul li a svg {
  font-size: 24px;
}

footer .overlay .description {
  text-align: center;
  color: #fff;
  width: 500px;
  margin: auto;
  font-size: 18px;
  text-align: justify;
}